{
  "apiVersion": 1,
  "hostApi": 1,
  "id": "{{.ID}}",
  "kind": "model_list",
  "name": "{{.Name}}",
  "description": "Model list for {{.Name}}",
  "version": "0.1.0",
  "license": "MIT",
  "site": {
    "baseURLMode": "as_is"
  }
}
